body {
  background-color: white;
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.glava {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  
}

#navbar {
  overflow: hidden;
  background-color: #0099cc;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #99e6ff;
  color: black;
}

#navbar a.active {
  background-color: #007399;
  color: white;
}

.content {
  padding: 10px;
  font-size: 19px;
  color: gray;
}


/* Noga */
.noga {
  padding: 2px;
  background: #ddd;
  font-size: 12px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}